<!-- BEGIN #checkout-cartWrapper -->
<div class="section-container" id="checkout-cartWrapper">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN checkout -->
        <h2 [hidden]="cartService.cartWrapper.items.length > 0" class="text-center">Não há produtos em seu carrinho.</h2>

        <div class="checkout" [hidden]="cartService.cartWrapper.items.length === 0">
            <form action="checkout_info.html" method="POST" name="form_checkout">

                <checkout-wizard [activeSection]="cartWrapper"></checkout-wizard>
                <!-- BEGIN checkout-body -->
                <div class="checkout-body">
                    <div class="table-responsive">
                        <table class="table table-cartWrapper">
                            <thead>
                            <tr>
                                <th>Nome do produto</th>
                                <th class="text-center">Preço</th>
                                <th class="text-center">Quantidade</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of cartService.cartWrapper.items; let i = index; trackBy: trackByFn">
                                <td class="cartWrapper-productWrapper">
                                    <div class="productWrapper-img">
                                        <img src="{{ item.productWrapper.image }}" alt="" />
                                    </div>
                                    <div class="productWrapper-info">
                                        <div class="title">{{ item.productWrapper.name }} </div>
                                        <div class="desc">{{ item.productWrapper.description }}</div>
                                    </div>
                                </td>
                                <td class="cartWrapper-price text-center">{{ item.productWrapper.price | currency:'BRL':true:'1.2-2' }}</td>
                                <td class="cartWrapper-qty text-center">
                                    <div class="cartWrapper-qty-input">
                                        <a class="qty-control left disabled" (click)="decreaseProduct(item)"><i class="fa fa-minus"></i></a>
                                        {{item.quantity}}
                                        <a class="qty-control right disabled" (click)="increaseProduct(item)"><i class="fa fa-plus"></i></a>
                                    </div>
                                </td>
                                <td class="cartWrapper-total text-center">
                                    {{ item.totalItem | currency:'BRL':true:'1.2-2' }}
                                </td>
                            </tr>
                            <tr>
                                <td class="cartWrapper-summary" colspan="12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2" style="padding-top: 5px;">
                                            Código de Desconto
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="first_name" [(ngModel)]="codeDiscount" />
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-default btn-block" (click)="applyDiscount()">Aplicar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cartWrapper-summary" colspan="4">
                                    <div class="summary-container">
                                        <div class="summary-row">
                                            <div class="field">Total Carrinho</div>
                                            <div class="value">{{ cartService.cartWrapper.totalCart | currency:'BRL':true:'1.2-2' }}</div>
                                        </div>
                                        <div class="summary-row text-danger">
                                            <div class="field">Desconto</div>
                                            <div class="value">{{ cartService.cartWrapper.discount | currency:'BRL':true:'1.2-2' }}</div>
                                        </div>
                                        <div class="summary-row total">
                                            <div class="field">Total</div>
                                            <div class="value">{{ (cartService.cartWrapper.totalCart-cartService.cartWrapper.discount) | currency:'BRL':true:'1.2-2' }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END checkout-body -->
                <!-- BEGIN checkout-footer -->
                <div class="checkout-footer">
                    <a routerLink="/productWrapper/list" class="btn btn-white btn-lg pull-left">Continue Comprando</a>
                    <a routerLink="/checkout/info" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Avançar</a>
                </div>
                <!-- END checkout-footer -->
            </form>
        </div>
        <!-- END checkout -->
    </div>
    <!-- END container -->
</div>
<!-- END #checkout-cartWrapper -->