<!-- BEGIN checkout-header -->
<div class="checkout-header">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-3 -->
        <div class="col-md-3 col-sm-3">
            <div class="{{ cartClass }}">
                <a routerLink="/checkout/cart">
                    <div class="number">1</div>
                    <div class="info">
                        <div class="title">Resumo do pedido</div>
                        <div class="desc">Confira os itens do pedido.</div>
                    </div>
                </a>
            </div>
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-3 -->
        <div class="col-md-3 col-sm-3">
            <div class="{{ infoClass }}">
                <a routerLink="/checkout/info">
                    <div class="number">2</div>
                    <div class="info">
                        <div class="title">Informações</div>
                        <div class="desc">Dados necessários para a compra.</div>
                    </div>
                </a>
            </div>
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-3 -->
        <div class="col-md-3 col-sm-3">
            <div class="{{ paymentClass }}">
                <a routerLink="/checkout/payment">
                    <div class="number">3</div>
                    <div class="info">
                        <div class="title">Pagamento</div>
                        <div class="desc">Dados para o pagamento. </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-3 -->
        <div class="col-md-3 col-sm-3">
            <div class="{{ completeClass }}">
                <a>
                    <div class="number">4</div>
                    <div class="info">
                        <div class="title">Pedido Concluído</div>
                        <div class="desc">Informações do pedido.</div>
                    </div>
                </a>
            </div>
        </div>
        <!-- END col-3 -->
    </div>
    <!-- END row -->
</div>
<!-- END checkout-header -->