<!-- BEGIN #checkout-payment -->
<div class="section-container" id="checkout-info">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN checkout -->
        <div class="checkout">
            <form action="checkout_payment.html" method="POST" name="form_shipping" class="form-horizontal">
                <checkout-wizard [activeSection]="info"></checkout-wizard>

                <!-- BEGIN checkout-body -->
                <div class="checkout-body">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Nome <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="name" [(ngModel)]="customerService.customer.name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Email <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="email" [(ngModel)]="customerService.customer.email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Data de Nascimento <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" name="dateBir" [(ngModel)]="customerService.customer.dataNascimento" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Telefone <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="phone" [(ngModel)]="customerService.customer.phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Endereço <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="address" [(ngModel)]="customerService.customer.address" />
                        </div>
                    </div>
                </div>
                <!-- END checkout-body -->
                <!-- BEGIN checkout-footer -->
                <div class="checkout-footer">
                    <a routerLink="/checkout/cart" class="btn btn-white btn-lg pull-left">Voltar</a>
                    <a routerLink="/checkout/payment" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Avançar</a>
                </div>
                <!-- END checkout-footer -->
            </form>
        </div>
        <!-- END checkout -->
    </div>
    <!-- END container -->
</div>
<!-- END #checkout-customer -->