<ng2-slim-loading-bar></ng2-slim-loading-bar>

<!-- BEGIN #page-container -->
<div id="page-container" class="fade" disabled="true">
	<!-- BEGIN #top-nav -->
	<div id="top-nav" class="top-nav">
		<!-- BEGIN container -->
		<div class="container">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Atendimento</a></li>
					<li><a href="#">Verificar Pedido</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-facebook f-s-14"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter f-s-14"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram f-s-14"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble f-s-14"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus f-s-14"></i></a></li>
				</ul>
			</div>
		</div>
		<!-- END container -->
	</div>
	<!-- END #top-nav -->

	<!-- BEGIN #header -->
	<div id="header" class="header">
		<!-- BEGIN container -->
		<div class="container">
			<!-- BEGIN header-container -->
			<div class="header-container">
				<!-- BEGIN navbar-header -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="header-logo">
						<a href="index.html">
							<span class="brand"></span>
							<span>Apple</span>Market
							<small>Loja de produtos da Apple</small>
						</a>
					</div>
				</div>
				<!-- END navbar-header -->
				<!-- BEGIN header-nav -->
				<div class="header-nav">
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav">
							<li class="active"><a routerLink="/">Início</a></li>
							<li><a routerLink="/product/list">Produtos</a></li>
						</ul>
					</div>
				</div>
				<!-- END header-nav -->
				<!-- BEGIN header-nav -->
				<cart></cart>
				<!-- END header-nav -->
			</div>
			<!-- END header-container -->
		</div>
		<!-- END container -->
	</div>
	<!-- END #header -->

	<router-outlet></router-outlet>

	<!-- BEGIN #footer -->
	<div id="footer" class="footer">
		<!-- BEGIN container -->
		<div class="container">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">SOBRE</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tristique dolor, ac efficitur velit. Nulla lobortis tempus convallis. Nulla aliquam lectus eu porta pulvinar. Mauris semper justo erat. 
					</p>
					<p>
						Vestibulum porttitor lorem et vestibulum pharetra. Phasellus sit amet mi congue, hendrerit mi ut, dignissim eros.
					</p>
				</div>
				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">LINKS</h4>
					<ul class="fa-ul">
						<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Atendimento</a></li>
						<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Verificar Pedido</a></li>
						<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Promoções</a></li>
						<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Produtos</a></li>
						<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Carrinho de Compras</a></li>
					</ul>
				</div>
				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">PRODUTOS ADICIONADOS</h4>
					<ul class="list-unstyled list-product">
						<li>
							<div class="image">
								<img src="assets/img/iphone-6s.jpg" alt="" />
							</div>
							<div class="info">
								<h4 class="info-title">Iphone 6s</h4>
								<div class="price">$1200.00</div>
							</div>
						</li>
						<li>
							<div class="image">
								<img src="assets/img/galaxy-s6.jpg" alt="" />
							</div>
							<div class="info">
								<h4 class="info-title">Samsung Galaxy s7</h4>
								<div class="price">$850.00</div>
							</div>
						</li>
					
						<li>
							<div class="image">
								<img src="assets/img/ipad-pro.jpg" alt="" />
							</div>
							<div class="info">
								<h4 class="info-title">Ipad Pro</h4>
								<div class="price">$800.00</div>
							</div>
						</li>
						<li>
							<div class="image">
								<img src="assets/img/galaxy-note5.jpg" alt="" />
							</div>
							<div class="info">
								<h4 class="info-title">Samsung Galaxy Note 5</h4>
								<div class="price">$1200.00</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">CONTATOS</h4>
					<address>
						<strong>Twitter, Inc.</strong><br />
						1355 Market Street, Suite 900<br />
						San Francisco, CA 94103<br /><br />
						<abbr title="Phone">Phone:</abbr> (123) 456-7890<br />
						<abbr title="Fax">Fax:</abbr> (123) 456-7891<br />
						<abbr title="Email">Email:</abbr> <a href="mailto:sales@myshop.com">sales@myshop.com</a><br />
						<abbr title="Skype">Skype:</abbr> <a href="skype:myshop">myshop</a>
					</address>
				</div>
				<!-- END col-3 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END container -->
	</div>
	<!-- END #footer -->

	<!-- BEGIN #footer-copyright -->
	<div id="footer-copyright" class="footer-copyright">
		<!-- BEGIN container -->
		<div class="container">
			<div class="payment-method">
				<img src="assets/img/payment_method.png" alt="" />
			</div>
			<div class="copyright">
				Copyright &copy; 2016 AppleMarket. Todos os direitos reservados.
			</div>
		</div>
		<!-- END container -->
	</div>
	<!-- END #footer-copyright -->
</div>
<!-- END #page-container -->