<div class="header-nav">
    <ul class="nav pull-right">
        <li class="dropdown dropdown-hover">
            <a href="#" class="header-cartWrapper" data-toggle="dropdown">
                <i class="fa fa-shopping-bag"></i>
                <span class="total">{{ cartService.cartWrapper.items.length }}</span>
                <span class="arrow top"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-cartWrapper p-0">
                <div class="cartWrapper-header">
                    <h4 class="cartWrapper-title">Carrinho de Compras ({{ cartService.cartWrapper.items.length }}) </h4>
                </div>
                <div class="cartWrapper-body">
                    <ul class="cartWrapper-item">
                        <li *ngFor="let item of cartService.cartWrapper.items; let i = index; trackBy: trackByFn">
                            <div class="cartWrapper-item-image"><img src="{{ item.productWrapper.image }}" alt="" /></div>
                            <div class="cartWrapper-item-info">
                                <h4>{{ item.productWrapper.name }} ({{ item.quantity }})</h4>
                                <p class="price">{{ item.productWrapper.price | currency:'BRL':true:'1.2-2' }}</p>
                            </div>
                            <div class="cartWrapper-item-close">
                                <a (click)="cartService.removeItem(item)" data-toggle="tooltip" data-title="Remover">&times;</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cartWrapper-footer">
                    <div class="row row-space-10">
                        <div class="col-xs-6">
                            <a class="btn btn-default btn-block" (click)="cartService.clearCart()">Limpar</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="btn btn-inverse btn-block" routerLink="/checkout/cartWrapper">Concluir Compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>